name: deploy to EC@

on:
  push:
    branches:
      - main


jobs:
  deploy:
    runs-on: ubuntu-latest


    steps:
      - name: deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd http/BasicPythonHTTPServer
            git pull origin main
            sudo docker build -t http-server . 
            sudo docker stop $(docker ps -q) || true
            sudo docker rm $(docker ps -aq) || true
            sudo docker run -d -p 8000:8000 http-server
